/* Contact Form */

.form-section{
    background-color: var(--beige);
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}

.form-title{
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 20px;
}


.input-fields{
    display: flex;
    flex-direction: column;
}


.input,
.msg textarea{
    justify-content: left;
    padding-bottom: 15px;
    background-color: transparent;
    border: 0px;
    border-bottom: solid 2px var(--white);
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
}


.input-fields,
.msg{
    width: 43vw;
}


.msg textarea{
    height: 150px;
}


button{
    background-color: transparent;
    border: 1px solid var(--darkgreen);
    padding: 10px 30px;
    margin-top: 20px;
    font-family: "montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}


button:hover{
    background-color: var(--brokenwhite);
    color: var(--darkgreen);
    border: 0px;
    cursor: pointer;
}