/* --------- Footer ---------*/

footer{
    padding-top: 80px;
    padding-bottom: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.connect{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}

.copyright{
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 12px;
}

.social-link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.social-list a{
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
}
