:root{
    --olive: #5e5e4c;
    --brokenwhite: #fdfaf6;
    --white: #fff;
    --darkgreen: #21221d;
    --lightgrey: #838383;
    --beige: #eae4d8;
}


    header{
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        justify-content: center;
        position:relative;
        align-items: center;
        width: 100%;
        z-index: 3;
        box-shadow: -2px 7px 14px -5px rgba(117, 103, 103, 0.58)
    }

    header ul{
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    header ul a{
        display: block;
        color: var(--white);
        padding: 20px 50px;
        font-size: 13px;
        text-decoration: none;
    }

    header ul a:hover{
        color: var(--lightgrey);
    }

    header .logo{
        float: left;
        padding: 35px;
        display: block;
    }

    header .navigation{
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    header .menu-icon{
        padding: 40px;
        position: relative;
        float: right;
        cursor: pointer;
    }

    header .menu-icon .nav-icon{
        background: var(--white);
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;
    }

    header .menu-icon .nav-icon::before{
        background: var(--white);
        content: "";
        display: block;
        height: 100%;
        width:100%;
        position: absolute;
        top: 5px;
    }

    header .menu-icon .nav-icon::after{
        background: var(--white);
        content: "";
        display: block;
        height: 100%;
        width:100%;
        position: absolute;
        top: -5px;
    }


    header .nav-btn{
        display: none;
    }

    header .nav-btn:checked ~ .navigation{
        max-height: 240px;
    }

    header .nav-btn:checked ~ .menu-icon .nav-icon{
        background: transparent
        ;
    }

    header .nav-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0;
    }

    header .nav-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0;
    }