/* Medium Screens */

@media (min-width:768px) and (max-width:889px){

    header{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    header li{
        float: right;
    }

    header li a{
        padding: 20px;
        text-align: left;
    }

    header .navigation{
        display: flex;
        justify-content: space-evenly;
        clear: none;
        float: right;
        max-height: none;
    }

    header .nav-header{
        padding: 20px 10px;
    }

    header .menu-icon{
        display: none;
    }

}


  /* Large Screens */
  @media (min-width: 889px) {

    header{
        display: grid;
        grid-template-columns: 70% 30%;
    }

    header li{
        float: right;
    }

    header .navigation{
        display: flex;
        justify-content: space-evenly;
        clear: none;
        float: right;
        max-height: none;
    }

    header .nav-header{
        padding: 20px 10px;
    }

    header .menu-icon{
        display: none;
    }

}